git:
  pagers:
{{- if eq .chezmoi.os "linux" }}
    - pager: delta --dark --paging=never --side-by-side
    - pager: delta --dark --paging=never
{{- end }}
{{- if eq .chezmoi.os "windows" }}
    # https://github.com/jesseduffield/lazygit/issues/1453
    - pager: ""
    - externalDiffCommand: "{{ .chezmoi.homeDir | replace "\\" "/" }}/.config/lazygit/delta-pager-windows.bat"
{{- end }}
