[user]
    email = {{ .email }}
    name = {{ .full_name }}
[alias]
    co = checkout
    lc = log --oneline --decorate --graph
[core]
    autocrlf = false
    pager = delta
    editor = vim
{{- if eq .chezmoi.os "windows" }}
    sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- end }}
[credential]
    helper = store
[http]
    postBuffer = 157286400
[pull]
    rebase = merges
[diff]
    colorMoved = default
[merge]
    # when showing diff conflicts show yours, original and theirs
    conflictStyle = zdiff3

[interactive]
    diffFilter = delta

[include]
    path = ../delta/delta.gitconfig
