[user]
    email = {{ .email }}
    name = {{ .full_name }}
[alias]
    co = checkout
    lc = log --oneline --decorate --graph
[core]
    autocrlf = false
    pager = delta
[credential]
    helper = store
[core]
    autocrlf = false
    editor = vim
    editor = vim
[http]
    postBuffer = 157286400
[pull]
    rebase = merges
[diff]
    colorMoved = default
[merge]
    # when showing diff conflicts show yours, original and theirs
    conflictStyle = zdiff3

[interactive]
    diffFilter = delta

[include]
    path = ../delta/delta.gitconfig
