[user]
    email = {{ .email }}
    name = {{ .full_name }}
[alias]
    co = checkout
    lc = log --oneline --decorate --graph
[core]
    autocrlf = false
[credential]
	helper = store
[core]
	autocrlf = false
	editor = vim
	editor = vim
[http]
	postBuffer = 157286400
[pull]
    rebase = merges

